@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* CSS Variables */

:root {
  /* Howest colors */
  --blue: #44C8F5;
  --white: #FEFFFF;
  --pink: #EC008C;
  --lightpink: #F9B2DC;
  --yellow: #FFED00;
  --lighyellow: #fffded;
  --green: #009A93;
  --lightgreen: #EAF5F5;
  --black: #000000;
  --red: rgb(236, 83, 83);
  --ligtYellow:rgb(248, 243, 199);
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--white);
  color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--blue);
}

/* Buttons */

button {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  border-style: solid;
}

.btn-yellow {
  border-color: var(--yellow);
  background-color: var(--lighyellow);
  color: var(--black);
}

.btn-yellow:focus {
  border-color: var(--blue);
}

.btn-yellow:hover {
  background-color: var(--yellow);
}

.btn-pink {
  border-color: var(--pink);
  background-color: var(--lightpink);
  color: var(--black);
}

.btn-pink:focus {
  border-color: var(--blue);
}

.btn-pink:hover {
  background-color: var(--pink);
  color: var(--white);
}

/* Selects */

select {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 10px 10px 20px;
  border-radius: 5px;
  border-style: solid;
}

.floatrechts{
  float: right;
}
/*my css */

*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}
#container {                     
  display: flex;
  flex-direction: row;         
  height:700px;                     
}
main{
  margin:0px auto;
  width: fit-content;
  padding:0 50px 0 50px;
  height:100vh;
  display: flex;
  align-items: center; 
}

#consoleWrapper {
  position: relative;
  padding:10px;
  border-top-left-radius: 15px;  
  border-bottom-left-radius: 15px;  
  border:1px solid black;  
  background-color: var(--red); 
  box-shadow: inset -5px 0px 5px rgba(0, 0, 0, 0.609);        
}

.wrapper{
  padding:10px;  
  margin-bottom: 40px;
  background-color:var(--ligtYellow) ;
  border-radius: 15px;
  border:1px solid black;
}

.wrapper.feedback{
  position: absolute;
  height:200px;
  width:calc(100% - 20px);
  bottom:0px;
  margin-bottom: 10px;          
}